  <h1>
    Your Conversation with
    <%= @conversation.users.select{|u| u != current_user}.map(&:full_name).join(' & ') %>
  </h1>

<div class='messages-container'>
  <div data-user-id='<%= current_user.id %>' class='messages'>
    <div class='message-view message-template'>
      <em><p class='message-header'>Message Header</p></em>
      <p class='message-body'>Message Body</p>
    </div>
  </div>


  <%= form_for [@conversation, Message.new] do |f| %>
    <%= f.text_area :text %><br>
    <%= f.submit 'Reply' %>
  <% end %>
</div>

<%= javascript_include_tag :conversation %>
