


<div>
<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <h2>Form is invalid</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>


	<%= form_for(@user) do |f| %>
	  <%= f.text_field :email, :placeholder => "email"%>
	  <%= f.text_field :first_name, :placeholder => "first name"%>
	  <%= f.text_field :last_name, :placeholder => "last name"%>
	  <%= f.password_field :password, :placeholder => "password"%>
	  <%= f.password_field :password_confirmation, :placeholder => "confirm password"%>
	  <%= select(:user, :cohort_id, [['Otters', 1], ['Grasshoppers', 2], ['Dragonflies', 3]])%>
	  <%= f.submit 'signup',:class =>'submit' %>
	<% end %>
<%end%>
</div>









