<%= @user.first_name %>
<%= @user.last_name %>

<% if @user.cohort %>
<%= @user.cohort.name %>

<%= @user.cohort.location.name %>
<%end%>




<ul>
<% @user.kbombs.each do |kbombs| %>
  <li><%= kbombs.name %></li>
<% end %>
</ul>

<%= @user.description %>
<%= render '/conversations/user_index' if @user == current_user %>
