<%= @user.first_name %>
<%= @user.last_name %>

<% if @user.cohort %>
<%= @user.cohort.name %>

<%= @user.cohort.location.name %>
<%end%>


<ul>
<% @user.kbombs.each do |kbomb| %>
  <li>
    <%= link_to "#{kbomb.name}", kbomb_path(kbomb.id) %>
    <%= link_to 'Remove Kbomb!', "/users/#{@user.id}/kbombs/#{kbomb.id}/delete"%>
  </li>
<% end %>
</ul>

<% if (@user.id == session[:user_id]) %>
  <%= link_to('Add Kbomb!', add_kbombs_path)%>
<% end %>

<%= @user.description %>
