<!DOCTYPE html>
<html>
<head>
  <title>KnowledgeBombs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>



  <div class="top-nav">
    <div class="container">
      <h1>KnowledgeBombs</h1>
      <ul class="nav">
        <%if current_user%>
        <li><%=link_to "Home", user_path(current_user)%></li>
        <%else%>
        <li><%=link_to "Home", root_path%></li>
        <%end%>
        <li><%= link_to "Sign Out", logout_path %></li>       
      </ul>
    </div>
  </div>




<body>

  <div id="user_header">
    <% if current_user %>
      Logged in as <%= "#{current_user.first_name} #{current_user.last_name}" %>.<%= link_to "Log Out", logout_path %>
    <% else %>

      <%= link_to "Log In", login_path %>
    <% end %>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
<div class="content">
      <div class="container">
        <%= yield %>
      </div>
</div>
</body>
</html>
